[submodule "meta-fsl-arm"]
	path = meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
	branch = jethro
[submodule "meta-fsl-demos"]
	path = meta-fsl-demos
	url = https://github.com/Freescale/meta-fsl-demos.git
	branch = jethro
[submodule "meta-genivi-demo"]
	path = meta-genivi-demo
	url = http://git.projects.genivi.org/meta-genivi-demo.git
	branch = master
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded
	branch = jethro
[submodule "meta-qt5"]
	path = meta-qt5
	url = git://github.com/meta-qt5/meta-qt5.git
	branch = jethro
[submodule "meta-udoo"]
	path = meta-udoo
	url = https://github.com/graugans/meta-udoo
	branch = jethro
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = jethro
