[submodule "meta-openembedded"]
	path = meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = fido
[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky
	branch = fido
[submodule "meta-fsl-arm-extra"]
	path = meta-fsl-arm-extra
	url = https://github.com/gmacario/meta-fsl-arm-extra.git
	branch = fido
[submodule "meta-fsl-arm"]
	path = meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
	branch = fido
